extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/relationship/list') List objects
  p Add a new relationship
  form(name="input", action="/relationship/new", method="post")
    input(type="text", name="Obj") Obbject
    input(type="text", name="Rel") Relationship
    input(type="text", name="Sub") Subject
    input(type="submit", value="submit")